<form action="" method="POST">
    <div class="item-row">
        <div class="item-label"><label for="username">Потребител</label></div>
        <div class="item-value"><input type="text" name="username" id="username" value="{{username}}"></div>
    </div>
    <div class="item-row">
        <div class="item-label"><label for="password">Парола</label></div>
        <div class="item-value"><input type="password" name="password" id="password"></div>
    </div>
    <div class="item-row">
        <input type="submit" name="" value="Вход">
    </div>
</form>