<form action="" method="POST">
    <div class="item-row">
        <div class="item-value"><input type="text" placeholder="Потребител" name="username" id="username" value="{{username}}"></div>
    </div>
    <div class="item-row">
        <div class="item-value"><input type="password" placeholder="Парола" name="password" id="password"></div>
    </div>
    <div class="item-row">
        <input type="submit" name="" value="Вход">
    </div>
</form>